@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');
body{
    background-color: #DCDCDC;
    font-family: "Roboto", sans-serif;
}
.estilo{
    font-size: 25px; /*estilo do tamanho do texto*/
    font-weight: bold;/*fontes em negrito*/
    color:#9932CC;
}