.todo{
    background: yellow;
}
.titulo{
    color: black;
}

@media(max-width:800px){
    .todo{
        background-color: aliceblue;
    }
    .titulo{
        color: white;
    }
}
@media(min-width:800px) and (max-width:900px){
    .todo{background-color: aqua;}
    .titulo{color: blue;}
}