fieldset{
    padding: 1em;
    background-color: #f8f8f8;
    margin: 1em;
}
legend{
    font-weight: bold;
}
label{
    display: block;
    cursor: pointer;
}
input[type="text"]{
    width: 20em;

}