body{
    background-color: #007fc7;
}
#container{
    background-color: #fff;
    width: 800px;
    margin: auto;
    padding: 10px;
}
.relativo{
    position: relative;
    top: -88px;
    left: 400px;
}
p{
    width: 400px;
}