body{
    background-color: #007fc7;
}
#container{
    background-color: #fff;
    width: 800px;
    margin: auto;
    padding: 10px;
    position: relative;
}
/*.relativo{
    position: relative;
    top: -88px;
    left: 400px;
}*/
p{
    width: 400px;
}
.fixo{
    position: fixed;
    bottom: 0px;
    right: 0px;
}/*PoSICIONAMENTO SÓ PODE SER ALINHANDO COM BASE NO SEU CONTAINER QEU PRECISA TER UM POSITION DIFERENTE DE STATICO*/
