.container{
  display: flex;
  background-color: #eef;
  border: 2px solid red;
  padding: 15px;
  max-width: 300px;
  height: 300px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.item{
  background-color: #ccc;
  border: 2px solid blueviolet;
  height: 50px;
  width: 50px;
}
.box{
  background-color: #ccc;
  border: 2px solid blueviolet;
  height: 50px;
  width: 50px;
}
.box1{
  flex-grow: 1;
}