.container{
    background-color: bisque;
    padding: 20px;
    display: flex;
    justify-content: flex-end;/*para alinhar os obejtos em linha no eixo horizontal utiliza-se o justify content*/
    /*space-between usa um espaço entre os elementos utilizando toda a largura igualmente entre eles*/
    /*space-arround usa espaços em volta dos objetos*/
    /*flex-end joga todos objetos para final do container(o lado direito)*/
    /*flex-start joga todos os obejtos para o começo do container(o lado esquerdo)*/
    /* o flex bos possui 2 eixos o principal e o transversal quando o flex direction é row o eixo principal fica na horizontal e o transversal fica na vertical e quando fica em coluna isso inverte o eixo principal fica na vertical e o eixo transversal fica na horizontal*/
}
.flex{
    width: 200px;
    margin: 20px;
    border: 4px solid #7400b8;
    background: #8ab9f3;
}
.box1{
    min-height: 100px;
}
.box2{
    min-height: 200px;
}
.box3{
    min-height: 300px;
}