.img1:hover{
    opacity: 0.4;
}

.img2:hover{
    opacity: 0.3;
}
.img3:hover{
    opacity: 0.2;
}
.botao{
    
    background-color: greenyellow;
    color: white;
    width: 150px;
    padding: 20px;
}
.botao:hover{
    opacity: 0.4;
}